    <div class="all-bannar-wrapper bannar-wrapper" >
        <div class="fulwidth-wrapper d-flex   {% if block.settings.Horizontal == "center" %}  align-items-center {% elsif block.settings.Horizontal == 'top' %}align-items-start {% elsif block.settings.Horizontal == 'bottom' %} align-items-end {% endif%}" style="background-image: url({{ block.settings.img | img_url:'master' }}); background-position: center center;background-repeat:no-repeat;background-size: cover;">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="bannar-content {% if block.settings.vertecal == "center" %} text-center {% elsif block.settings.vertecal == 'left' %} text-left {% elsif block.settings.vertecal == 'right' %} text-right {% endif%} bannar-right-wrapper">
                            <h1 style=" color:{{ block.settings.h2-c}} ;">{{ block.settings.h2}}</h1>
                            <p style="  color: {{ block.settings.p-c}};">{{ block.settings.p}}</p>
                            <div class="bannar-btn-area">
                                <a href="{{ block.settings.shop-url}}" class="btn" style="background-color:{{ block.settings.btn-b}};  color:{{ block.settings.btn-c}};">{{ block.settings.shop}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>