<section class="overflow-hidden" >
  <div class="sigle-blog-hero">
      <img src="{{ article.image | img_url: ''  }}g" alt="">
  </div>
</section>
<!-- --------sigle-content-section----- -->
<section class="sigle-content-area">
  <div class="single-content-container">
      <div class="single-content">
          <h6>{{ article.published_at | time_tag: format: 'date' }}</h6>
          <h1>{{ article.title }}</h1>
          <div class="border-div"></div>
          {{ article.content }}
          <div class="border-div"></div>
          <!-- ------========------------- -->
          <div class="d-flex justify-content-between flex-md-row flex-column">
              <div>
                {% for tag in article.tags %}

                  <a href="{{ blog.url }}/tagged/{{ tag | handle }}"><button class="single-content-btn ">{{ tag }}</button></a>
                  

                {% endfor %}
              </div>
              <div class="mt-4 mt-md-0">
                {% if section.settings.show_share_buttons %}
                  {% render 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
                {% endif %}
              </div>
          </div>
       
          <!-- -------========------------- -->
          
      </div>
  </div>
</section>



<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": {{ article.content | strip_html | json }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ shop.url | append: page.url | json }}
    },
    "headline": {{ article.title | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      {% assign image_size = article.image.width | append: 'x' %}
      "image": [
        {{ article | img_url: image_size | prepend: "https:" | json }}
      ],
    {% endif %}
    "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      {% if page_image %}
        {% assign image_size = page_image.width | append: 'x' %}
        "logo": {
          "@type": "ImageObject",
          "height": {{ page_image.height | json }},
          "url": {{ page_image | img_url: image_size | prepend: "https:" | json }},
          "width": {{ page_image.width | json }}
        },
      {% endif %}
      "name": {{ shop.name | json }}
    }
  }
</script>



{% schema %}
{
  "name": "t:sections.article-template.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "blog_show_author",
      "label": "t:sections.article-template.settings.blog_show_author.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_show_date",
      "label": "t:sections.article-template.settings.blog_show_date.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "t:sections.article-template.settings.show_share_buttons.label",
      "default": true
    }
  ]
}
{% endschema %}
