{% paginate blog.articles by 12 %}

<div class="page-width">
  <header class="section-header text-center">
    <h1>{{ page_title }}</h1>
    {% if blog.tags.size > 0 %}
      <div class="blog-filter">
        <label class="blog-filter__label select-label" for="BlogTagFilter">{{ 'collections.filters.title_tags' | t }}</label>
        <div class="select-group">
          <select id="BlogTagFilter" aria-describedby="a11y-refresh-page-message a11y-selection-message" data-blog-tag-filter>
            <option value="{{ blog.url }}">{{ 'blogs.article.all_topics' | t }}</option>
            {% for tag in blog.all_tags %}
              <option value="{{ blog.url }}/tagged/{{ tag | handleize }}" {% if current_tags contains tag %}selected{% endif %}>{{ tag }}</option>
            {% endfor %}
          </select>
          {% render 'icon-chevron-down' %}
        </div>
      </div>
    {% endif %}
  </header>
</div>

<section class="blog-area  overflow-hidden">
  <div class="container">
      <div class="row gx-4 gy-5">
          <!-- --------blog-1------- -->
          {% for article in blog.articles %}
          <div class="col-lg-4 col-md-6 col-12">
              <div class="blog-card h-100">
                     <button class="blog-badge">  {% for tag in article.tags  limit: 1%}
                      <li>
                        <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="article__grid-tag">{{ tag }}</a>
                      </li>
                    {% endfor %}  Charities</button>
                     {% capture img_id %}ArticleImage-{{ article.image.id }}{% endcapture %}
                     {% capture img_wrapper_id %}ArticleImageWrapper-{{ article.image.id }}{% endcapture %}
                     {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '.' -%}
                     <a href="{{ article.url }}"> <img class="blog-top-img"  id="{{ img_id }}"
                      class="article__grid-image"
                      src="{{ img_url }}"
                      data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                      data-aspectratio="{{ article.image.aspect_ratio }}"
                      data-sizes="auto"
                      loading="lazy"
                      width="auto"
                      height="auto"
                      alt="{{ article.title }}"></a>
                 
                  <div class="blog-content">
                      <h6>{{ article.published_at | time_tag: format: 'date' }}</h6>
                      <h3>{{ article.title | escape }}</h3>
                      <p>{{article.content | strip_html | truncate: 110 }}</p>
                      <div class="d-flex align-items-center blog-btn">
                          <div><a class="" href="{{ article.url }}">Read More</a></div>
                          <div><img class="img-fluid" src="../img/blog-img/Arrow.svg" alt=""></div>
                      </div>
                  </div>
              </div>
          </div>
        {% endfor %}
          
      </div>
  </div>
</section>






{%- if paginate.pages > 1 -%}
  {% render 'pagination', paginate: paginate %}
{%- endif -%}

{% endpaginate %}



{% schema %}
{
  "name": "t:sections.blog-template.name",
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": "t:sections.blog-template.settings.layout.label",
      "default": "list",
      "options": [
        {
          "value": "grid",
          "label": "t:sections.blog-template.settings.layout.options__1.label"
        },
        {
          "value": "list",
          "label": "t:sections.blog-template.settings.layout.options__2.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "blog_show_author",
      "label": "t:sections.blog-template.settings.blog_show_author.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_show_date",
      "label": "t:sections.blog-template.settings.blog_show_date.label",
      "default": true
    }
  ]
}
{% endschema %}










<style>

  .blog-area {
    background-color: #F8F8F8;
    padding: 120px 0;
}
.blog-area-row{
    grid-column-gap:36px ;
}
.blog-title {
    background-color: #F2E085;
    padding: 100px 0;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.blog-title h4 {
    color: black;
    font-family: 'GT Super Txt Trial';
    font-weight: 700;
    font-size: 72px;
    line-height: 83px;
    text-align: center;
}

.blog-card {
    position: relative;
    z-index: 3;
    background-color: #F8F8F8;
    border: 1px solid #000000;
    cursor: pointer;
    transition: 0.6s;
}
.blog-top-img{
    width: 100%;
}
.blog-card:hover {
    box-shadow: 12px 14px 0px 1px #5E6B61;
}
.blog-badge {
    font-family: 'Jost';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    background-color: #F8F8F8;;
    border: 2px solid #000000;
    padding: 6px 16px;
    position: absolute;
    top: 16px;
    right: 16px;
}
.blog-btn {
    position: absolute;
    bottom: 16px;
    border-bottom: 2px solid #000000;
}

.blog-btn a {
    color: #000000;
    font-family: 'GT Super Txt Trial';
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    margin-right: 8px;
}

.blog-content {
    padding: 16px;
}

.blog-content h6 {
    color: #000000;
    font-family: 'Jost';
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
}

.blog-content h3 {
    font-family: 'GT Super Txt Trial';
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    margin-top: 8px;
    margin-bottom: 16px;
}

.blog-content p {
    color: #000000;
    font-family: 'Jost';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 38px;
}
@media screen and (max-width:991px){
    .blog-title h4{
        font-size: 30px;
    }
}
@media screen and (max-width:541px){

    .blog-title  h4{
        font-size: 20px;
    }
}


</style>