{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="container">
   <div class="row">

    <div class="col-lg-8 offset-md-2">
      <div class="contact  section-{{ section.id }}-padding">

        {%- form 'contact', id: 'ContactForm', class: 'isolate' -%}
          {%- if form.posted_successfully? -%}
            <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>{% render 'icon-success' %} {{ 'templates.contact.form.post_success' | t }}</h2>
          {%- elsif form.errors -%}
          





            <div class="form__message">
              <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>{% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}</h2>
            </div>
            <ul class="form-status-list caption-large" role="list">
              <li>
                <a href="#ContactForm-email" class="link">
                  {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
                </a>
              </li>
            </ul>
          {%- endif -%}
             {% comment %} start  {% endcomment %}
            
          <div class="company-details">
            <div class="row">
              <div class="col-12">
                <h3>COMPANY INFORMATION</h3>
              </div>
            </div>
               <div class="row">
               
                <div class="col-md-6">
                  <div class="field">
                    <input class="field__input" type="text" id="Company-Name" name="contact[Company-Name]" required placeholder="Custom Question">
                    <label class="field__label" for="Company-Name">*Company Name:</label>
                  </div>          
                </div>

                <div class="col-md-6">
                  <div class="field">
             
                    <input class="field__input" autocomplete="name" type="text" id="Company-Website" name="contact[Website Url]" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" placeholder="{{ 'templates.contact.form.name' | t }}">
                    <label class="field__label" for="Company-Website" >Website</label>
                  </div>          
                </div>

                <div class="col-md-6">
                  <div class="field">
                    <input
                      autocomplete="email"
                      type="email"
                      
                      id="Company-email"
                      class="field__input"
                      name="contact[email]"
                      spellcheck="false"
                      autocapitalize="off"
                      value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                      aria-required="true"
                      {% if form.errors contains 'email' %}
                        aria-invalid="true"
                        aria-describedby="ContactForm-email-error"
                      {% endif %}
                      placeholder="{{ 'templates.contact.form.email' | t }}"
                    >
                    <label class="field__label" for="Company-email" default="https://">*Company Email</label>
                    {%- if form.errors contains 'email' -%}
                      <small class="contact__field-error" id="Company-email-error">
                        <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                        <span class="form__message">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
                      </small>
                    {%- endif -%}
                  </div>          
                </div>
               
              </div>

              <div class="row">
                  <div class="col-md-6">
                    <div class="field">
                      <input class="field__input" type="text" id="custom-Address" name="contact[Address-1]" placeholder="Address 1" required>
                      <label class="field__label" for="custom-question">*Address 1:</label>
                    </div>
            
                  </div>
                  <div class="col-md-6">
                    <div class="field">
                      <input class="field__input" type="text" id="custom-Address2" name="contact[Address-2]" placeholder="Address 2" >
                      <label class="field__label" for="custom-question">*Address 2:</label>
                    </div>
                  </div>
              </div>
               
              <div class="row">

                <div class="col-md-6">
                  <div class="field">
                    <input class="field__input" type="text" id="custom-postal" name="contact[Postal]" placeholder="Custom Question" required>
                    <label class="field__label" for="custom-postal">*Postal / Zip Code:</label>
                  </div>
                  <div class="field">
                    <input class="field__input" type="text" id="custom-City" name="contact[City]" placeholder="*City:" required>
                    <label class="field__label" for="custom-City">*City:</label>
                  </div>
          
                </div>

                <div class="col-md-6">

                  <div class="fielda">
                    <select id="request-county" name="contact[request_Country]" required>
                      <option>Select Your Country</option>
                      <option value="ae" data-validate="false">United Arab Emirates</option>
                      <option value="ar" data-validate="false">Argentina
                      </option>
                      <option value="at" data-validate="false">Austria
                      </option>
                      <option value="au" data-validate="false">Australia
                      </option>
                      <option value="be" data-validate="false">Belgium
                      </option>
                      <option value="bg" data-validate="false">Bulgaria
                      </option>
                      <option value="bm" data-validate="false">Bermuda
                      </option>
                      <option value="br" data-validate="false">Brazil
                      </option>
                      <option value="bs" data-validate="false">Bahamas
                      </option>
                      <option value="by" data-validate="false">Belarus
                      </option>
                      <option value="bz" data-validate="false">Belize
                      </option>
                      <option value="ca" data-validate="false">Canada
                      </option>
                      <option value="ch" data-validate="false">Switzerland
                      </option>
                      <option value="cl" data-validate="false">Chile
                      </option>
                      <option value="cn" data-validate="false">China
                      </option>
                      <option value="co" data-validate="false">Colombia
                      </option>
                      <option value="cr" data-validate="false">Costa Rica
                      </option>
                      <option value="cz" data-validate="false">Czech Republic
                      </option>
                      <option value="de" data-validate="false">Germany
                      </option>
                      <option value="dk" data-validate="false">Denmark
                      </option>
                      <option value="do" data-validate="false">Dominican Republic 
                      </option>
                      <option value="ee" data-validate="false">Estonia
                      </option>
                      <option value="es" data-validate="false">Spain
                      </option>
                      <option value="fi" data-validate="false">Finland
                      </option>
                      <option value="fr" data-validate="false">France
                      </option>
                      <option value="gb" data-validate="false">United Kingdom
                      </option>
                      <option value="gg" data-validate="false">Guernsey
                      </option>
                      <option value="gh" data-validate="false">Ghana
                      </option>
                      <option value="gr" data-validate="false">GREECE
                      </option>
                      <option value="gu" data-validate="false">Guam
                      </option>
                      <option value="hk" data-validate="false">Hong Kong
                      </option>
                      <option value="hr" data-validate="false">Croatia
                      </option>
                      <option value="ht" data-validate="false">Haiti
                      </option>
                      <option value="hu" data-validate="false">Hungary
                      </option>
                      <option value="id" data-validate="false">Indonesia
                      </option>
                      <option value="ie" data-validate="false">Ireland
                      </option>
                      <option value="il" data-validate="false">Israel
                      </option>
                      <option value="im" data-validate="false">Isle of Man
                      </option>
                      <option value="in" data-validate="false">India
                      </option>
                      <option value="is" data-validate="false">Iceland
                      </option>
                      <option value="it" data-validate="false">Italy
                      </option>
                      <option value="je" data-validate="false">Jersey
                      </option>
                      <option value="jp" data-validate="false">Japan
                      </option>
                      <option value="kr" data-validate="false">South Korea
                      </option>
                      <option value="kw" data-validate="false">Kuwait
                      </option>
                      <option value="lt" data-validate="false">Lithuania
                      </option>
                      <option value="lu" data-validate="false">Luxembourg
                      </option>
                      <option value="lv" data-validate="false">Latvia
                      </option>
                      <option value="ma" data-validate="false">Morocco
                      </option>
                      <option value="mc" data-validate="false">Monaco
                      </option>
                      <option value="md" data-validate="false">Moldova
                      </option>
                      <option value="me" data-validate="false">Montenegro
                      </option>
                      <option value="mo" data-validate="false">Macao
                      </option>
                      <option value="mt" data-validate="false">Malta
                      </option>
                      <option value="mx" data-validate="false">Mexico
                      </option>
                      <option value="my" data-validate="false">Malaysia
                      </option>
                      <option value="nl" data-validate="false">Netherlands
                      </option>
                      <option value="no" data-validate="false">Norway
                      </option>
                      <option value="nz" data-validate="false">New Zealand
                      </option>
                      <option value="om" data-validate="false">Oman
                      </option>
                      <option value="pa" data-validate="false">Panama
                      </option>
                      <option value="pe" data-validate="false">Peru
                      </option>
                      <option value="ph" data-validate="false">Phillippines
                      </option>
                      <option value="pk" data-validate="false">Pakistan
                      </option>
                      <option value="pl" data-validate="false">Poland
                      </option>
                      <option value="pr" data-validate="false">Puerto Rico
                      </option>
                      <option value="pt" data-validate="false">Portugal
                      </option>
                      <option value="qa" data-validate="false">Qatar
                      </option>
                      <option value="re" data-validate="false">Reunion
                      </option>
                      <option value="ro" data-validate="false">Romania
                      </option>
                      <option value="rs" data-validate="false">Serbia
                      </option>
                      <option value="ru" data-validate="false">Russia
                      </option>
                      <option value="sa" data-validate="false">Saudi Arabia
                      </option>
                      <option value="se" data-validate="false">Sweden
                      </option>
                      <option value="sg" data-validate="false">Singapore
                      </option>
                      <option value="si" data-validate="false">Slovenia
                      </option>
                      <option value="sk" data-validate="false">Slovakia
                      </option>
                      <option value="sr" data-validate="false">Suriname 
                      </option>
                      <option value="th" data-validate="false">Thailand
                      </option>
                      <option value="tr" data-validate="false">Turkey
                      </option>
                      <option value="tt" data-validate="false">Trinidad
                      </option>
                      <option value="tw" data-validate="false">TAIWAN
                      </option>
                      <option value="ua" data-validate="false">Ukraine
                      </option>
                      <option value="us" data-validate="false" selected="">United States
                      </option>
                      <option value="uy" data-validate="false">Uruguay
                      </option>
                      <option value="ve" data-validate="false">Venezuela
                      </option>
                      <option value="vt" data-validate="false">Vietnam
                      </option>
                      <option value="wi" data-validate="false">West Indies
                      </option>
                      <option value="xk" data-validate="false">Kosovo
                      </option>
                      <option value="za" data-validate="false">South Africa
                      </option>
                    </select>
                   </div>

                   <div class="field">
                    <input class="field__input" type="text" id="custom-City" name="contact[Province]" placeholder="*City:" required>
                    <label class="field__label" for="custom-City">*Your State or Province:</label>
                  </div>

                </div>

              </div>
                  
 
              <div class="row">
                <div class="col-md-6">
                  
                  <div class="field">
                    <input type="tel" id="ContactForm-phone" class="field__input" autocomplete="tel" name="contact[{{ 'templates.contact.form.phone' | t }}]" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}" placeholder="{{ 'templates.contact.form.phone' | t }}">
                    <label class="field__label" for="ContactForm-phone">{{ 'templates.contact.form.phone' | t }}</label>
                  </div>

                </div>


              </div>


             
          </div>
           {% comment %} end  {% endcomment %}







            {% comment %} /// {% endcomment %}
            {% comment %} start  {% endcomment %}
           
            
           
            {% comment %} end  {% endcomment %}
            {% comment %} start  {% endcomment %}

            <div class="account-information">
              
                <div class="row">
                  <div class="col-12">
                    <h3>CONTACT INFORMATION</h3>
                   
                  </div>
                </div>
            

              
                <div class="row">
                  <div class="col-md-6">
                    <div class="field">
         
                      <input class="field__input" autocomplete="name" type="text" id="ContactForm-name" required name="contact[{{ 'templates.contact.form.name' | t }}]" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" placeholder="{{ 'templates.contact.form.name' | t }}" required>
                      <label class="field__label" for="ContactForm-name">*First name:</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="field">
                      <input class="field__input" type="text" id="custom-question" name="contact[last name]" placeholder="Custom Question" required>
                      <label class="field__label" for="custom-question">*Last Name:</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="field">
                      <input class="field__input" type="text" id="custom-question" name="contact[title]" placeholder="Custom Question" required>
                      <label class="field__label" for="custom-question">*Title</label>
                    </div>
                  </div>
                  <div class="col-md-6">
    
    
                    <div class="field field--with-error">
                      <input
                        autocomplete="email"
                        type="email"
                        required
                        id="ContactForm-email"
                        class="field__input"
                        name="contact[email]"
                        spellcheck="false"
                        autocapitalize="off"
                        value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                        aria-required="true"
                        {% if form.errors contains 'email' %}
                          aria-invalid="true"
                          aria-describedby="ContactForm-email-error"
                        {% endif %}
                        placeholder="{{ 'templates.contact.form.email' | t }}"
                      >
                      <label class="field__label" for="ContactForm-email">*Direct Email Address</label>
                      {%- if form.errors contains 'email' -%}
                        <small class="contact__field-error" id="ContactForm-email-error">
                          <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                          <span class="form__message">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
                        </small>
                      {%- endif -%}
                    </div>
    
    
                  </div>
                 
               </div>


            </div>
            
           
            {% comment %} end  {% endcomment %}
                     {% comment %} start  {% endcomment %}
         
                  <div class="contact-information">
                  
                    <div class="row">
                      <div class="col-12">
                        <h3>BUSINESS INFORMATION</h3>
                      </div>
                    </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="fielda">
                            <h6>What is your primary business activity?</h6>
                            <select id="request-type" name="contact[business info]">
                              <option value="">Please Select One
                            </option>
                            
                            <option value="Branded Apparel">Branded Apparel
                            </option>
                            
                            <option value="E-Commerce">E-Commerce
                            </option>
                            
                            <option value="Embroiderer">Embroiderer
                            </option>
                            
                            <option value="Manufacturer">Manufacturer
                            </option>
                            
                            <option value="Promotional Products Distribut">Promotional Products Distribut
                            </option>
                            
                            <option value="Screen printer">Screen printer
                            </option>
                            </select>
                        </div> 
                    </div>
                    <div class="col-md-6">
                          <div class="fielda">
                            <h6>Number of outside sales reps: </h6>
                            <select id="request-type" name="contact[outside sales]">
                              
                                      <option value="None">None
                                    </option>
                                    
                                    <option value="1">1
                                    </option>
                                    
                                    <option value="2">2
                                    </option>
                                    
                                    <option value="3">3
                                    </option>
                                    
                                    <option value="4">4
                                    </option>
                                    
                                    <option value="5">5
                                    </option>
                                    
                                    <option value="6-10">6-10
                                    </option>
                                    
                                    <option value="11-20">11-20
                                    </option>
                                    
                                    <option value="21-30">21-30
                                    </option>
                                    
                                    <option value="31-40">31-40
                                    </option>
                                    
                                    <option value="41-50">41-50
                                    </option>
                                    
                                    <option value="51+">51+
                                    </option>
                              
                            </select>
                      </div> 
                    </div>
                  </div>

                </div>
          {% comment %} end  {% endcomment %}
            <div class="account-information">

              <div class="row">
                <div class="col-12">
                  <h3>WEB ACCOUNT INFORMATION</h3>
                   <p>When APA approves your account for wholesale buying a login ID will be created using the direct email address and the password you enter below.</p>
                </div>
              </div>
              
           
              <div class="col-md-12">
                <div class="field">
                  <input class="field__input" type="text" id="custom-question" name="contact[password]" required placeholder="Custom Question">
                  <label class="field__label" for="custom-question">*Password:</label>
                </div>
              </div>
              <div class="col-md-12">
                <div class="field">
                  <input class="field__input" type="text" id="custom-question" name="contact[password 2]" required placeholder="Custom Question">
                  <label class="field__label" for="custom-question">*Confirm Password:</label>
                </div>
              </div>


            </div>
             {% comment %} /// {% endcomment %}
            {% comment %} start  {% endcomment %}
              <div class="row">
                <div class="col-md-12">
                    <div class="account-terms">
                      <h3> TERMS AND CONDITIONS</h3>
                      <p>By proceeding I acknowledge that I have read and agree to the following terms and conditions</p>
                      

                      <textarea rows="8"  disabled placeholder="{{ section.settings.agreedet }}"></textarea>
                    </div>
                </div>
              </div>
            {% comment %} end  {% endcomment %}
            {% comment %} start  {% endcomment %}
            <div class="fieldb radio-buttons">
              <input type="radio" name="contact[Agree statement]" required  value="true" id="contact-method">
              <label for="contact-method">{{ section.settings.agree }}</label>
              
             
            </div>
            {% comment %} end  {% endcomment %}
            {% comment %} start  {% endcomment %}

            {% comment %} end  {% endcomment %}






          <div class="contact__button">
            <button type="submit" class="button contact-btn">
              {{ 'templates.contact.form.send' | t }}

              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="35" viewBox="0 0 35 35" fill="none">
                <path d="M34.4189 17.5439L17.5439 0.668945V10.5127H0.668945V24.5752H17.5439V34.4189L34.4189 17.5439Z" fill="white"/>
                </svg>
            </button>
          </div>






        {%- endform -%}
      </div>
    </div>
   
  </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Contact form",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "text",
      "id": "h3",
      "label": "Contact details",
      "default": "Reach OUT",

      "placeholder": "Reach OUT"
    },
    {
      "type": "text",
      "id": "email",
      "label": "Please select your Mail",
      "default": "hello@demoblanks.com",

      "placeholder": "hello@demoblanks.com"
    },
    {
      "type": "text",
      "id": "phone",
      "label": "Please put your Phone No",
      "default": "313-456-7890",
      "placeholder": "313-456-7890"
    },
    {
      "type": "text",
      "id": "h32",
      "label": "Contact details",
      "default": "Our headquarters",

      "placeholder": "Our headquarters"
    },
    {
      "type": "text",
      "id": "agreedet",
      "label": "The parties agree that .....",
      "default": "The parties agree that any transaction(s) cable choice",
      "placeholder": "The parties agree that ......"
    },
    {
      "type": "text",
      "id": "agree",
      "label": "agree with the terms and conditions",
      "default": "i agree with the terms and conditions",
      "placeholder": "i agree with the terms and conditions"
    }
  ],
  "presets": [
    {
      "name": "Contact form for wholesaler"
    }
  ]
}
{% endschema %}



<style>
  .field:after{
    box-shadow: none;
   }
    .fielda {
      margin-bottom: 2rem;
    }
    .fielda select {
    flex-grow: 1;
    width: 100%;
    text-align: left;
    padding: 1.5rem;
    margin: var(--inputs-border-width);
    transition: box-shadow var(--duration-short) ease;
    outline: none;
    color:#fff;
     background:rgb(var(--color-background));
}
option {
  font-family: Jost;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
h3{
 margin: 20px 0;
}
h2{
color:#fff;
}
.fieldb{
 margin: 20px 0;
}
p{
 padding: 0 0 10px 0; 
}
textarea{
width: 100%;
}
</style>