<div class="two-slide-wrapper" id="hello">

    <div class="bannar-wrapper">
       <div class="bannar-shape-1">
          <img 
          data-sizes="auto"
          data-src="{{ block.settings.img1 | img_url:'' }}" class="lazyload"
          alt="">
       </div>
       <div class="bannar-shape-2">
          <img data-sizes="auto"
          data-src="{{ block.settings.img2 | img_url:'' }}" class="lazyload" alt="">
       </div>
       
       <div class="container-fluid">
          <div class="row">
          <div class="col-xl-6 col-md-12 p-0">
                <div class="bannar-left-image">
                <img 
                   data-src="{{ block.settings.img | img_url:'master' }}"
                   data-srcset="{{ block.settings.img | img_url:'grande' }} 300w,
                   {{ block.settings.img | img_url:'2048 x 2048' }} 600w,
                   {{ block.settings.img | img_url:'master' }} 900w" class="lazyload" alt="">
                </div>
          </div>
          <div class="col-xl-6 col-md-12 d-flex align-items-center justify-content-center">
                <div class="bannar-right-wrapper text-center">
                   <div class="bannar-wev-image">
                      <img 
                      data-src="{{ block.settings.imgw | img_url:'' }}" class="lazyload" alt="">
                   </div>
                   <h1>{{ block.settings.h1 }}</h1>
                   <p>{{ block.settings.p }}</p>
                   <div class="bannar-btn-area">
                   <a href="{{  block.settings.link }}" class="btn">{{ block.settings.shop }}</a>
                   </div>
                </div>
          </div>
 
          </div>
       </div>
    </div>
 </div>