<div class="bannar-wrapper">
    <div class="bannar-shape-1">
       <img 
        data-sizes="auto"
        data-src="{{ section.settings.img1 | img_url:'' }}" class="lazyload"
        alt="">
     </div>
     <div class="bannar-shape-2">
       <img data-sizes="auto"
        data-src="{{ section.settings.img2 | img_url:'' }}" class="lazyload"" alt="">
     </div>
     <div class="container-fluid">
       <div class="row">
         <div class="col-xl-6 col-md-12 p-0">
             <div class="bannar-left-image">
               <img src="data-sizes="auto"
                data-src="{{ section.settings.img | img_url:'master' }}"
                data-srcset="{{ section.settings.img | img_url:'grande' }} 300w,
                {{ section.settings.img | img_url:'2048 x 2048' }} 600w,
                {{ section.settings.img | img_url:'master' }} 900w" class="lazyload" alt="">
             </div>
         </div>
         <div class="col-xl-6 col-md-12 d-flex align-items-center justify-content-center">
               <div class="bannar-right-wrapper text-center">
                 <div class="bannar-wev-image">
                   <img src="data-sizes="auto"
                    data-src="{{ section.settings.imgw | img_url:'' }}" class="lazyload"" alt="">
                 </div>
                  <h1>{{ section.settings.h1 }}</h1>
                  <p>{{ section.settings.p }}</p>
                  <div class="bannar-btn-area">
                  <a href="{{  section.settings.link }}" class="btn">{{ section.settings.shop }}</a>
                 </div>
               </div>
         </div>

       </div>
     </div>
   </div>


{% schema %}
    {
        "name": "Slider",
        "class": "slider",
        "settings": [
         {
            "type": "text",
            "id": "h1",
            "label": "Slider Title",
            "default": "LOUD & PROUD",
            "placeholder": "LOUD & PROUD"
         },
         {
            "type": "text",
            "id": "p",
            "label": "Slider Details",
            "default": "We Are Children of Immigrats",
            "placeholder": "We Are Children of Immigrats"
         },
         {
            "type": "text",
            "id": "shop",
            "label": "Shop Now",
            "default": "Shop Now",
            "placeholder": "Shop Now"
         },
         {
            "type": "url",
            "id": "link",
            "label": "Shop Now link",
            "info": "Button link"
         },
         {
            "type": "image_picker",
            "id": "img",
            "label": "Slider Main left Image"
         },
         {
            "type": "image_picker",
            "id": "imgw",
            "label": "Slider wave  Image"
         },
         {
            "type": "image_picker",
            "id": "img1",
            "label": "Slider Shap 01"
         },
         {
            "type": "image_picker",
            "id": "img2",
            "label": "Slider Shap 01"
         }
        ],	
        "presets": [
            {
              "name": "Bannar"
            }]
        
    }
{% endschema %}
