<footer>
  
    <div class="footer-wrapper">

  {%if  request.page_type  == "blog" %}



 {% elsif request.page_type  == "article" %}
 {% elsif request.page_type  == "product" %}
 <div class="footer-human-shap proudct-area-shap">
 <img  src="{{section.settings.img3 | img_url: '' }}" alt="">
</div> 
{% else %}
<div class="footer-human-shap">
<img src="{{section.settings.img2 | img_url: '' }}" alt="">
</div> 
{%endif%}





      <div class="container">
        <div class="row">
          <div class="col-md-4 d-md-flex align-items-center justify-content-center">
              <div class="footer-logo-area">
                <div class="footer-logo">
                  <img src="{{section.settings.img | img_url: '' }}" alt="">
                </div>
                <div class="footer-socail">
                  <ul>
                  {% if section.settings.Social != '' %}


                    <li>
                      <a href="{{section.settings.Social}}">
                          <div class="footer-singel-svg">
                              
                              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M30.7071 9.70726L26.9942 13.4201C26.8945 17.0896 25.4939 20.6685 23.1166 23.2961C20.3321 26.3735 16.4881 28.0002 12 28.0002C7.63597 28.0002 5.38646 25.8009 5.29283 25.7073C5.16492 25.5793 5.07411 25.4191 5.03007 25.2437C4.98602 25.0682 4.9904 24.8841 5.04272 24.7109C5.09504 24.5378 5.19336 24.382 5.3272 24.2603C5.46103 24.1386 5.62537 24.0555 5.80272 24.0198C6.86998 23.8036 9.51915 22.9617 10.6465 21.4441C9.43779 20.7472 8.36451 19.8382 7.47801 18.7609C4.34153 14.9522 4.408 10.1659 5.01609 6.82128C5.05043 6.63248 5.13835 6.45755 5.26938 6.31735C5.40041 6.17716 5.56901 6.07762 5.75506 6.03062C5.94111 5.98363 6.13675 5.99115 6.31864 6.0523C6.50053 6.11344 6.66099 6.22563 6.78086 6.37548C6.81523 6.4182 10.1019 10.4448 15 11.7603V11.0005C15.0105 9.3993 15.6565 7.86779 16.7959 6.74268C17.9353 5.61757 19.4748 4.99096 21.076 5.0006C22.1161 5.015 23.1348 5.29894 24.0323 5.82467C24.9299 6.3504 25.6758 7.09995 26.1971 8.00011L30 8.00017C30.1978 8.00017 30.3911 8.05882 30.5555 8.16869C30.72 8.27857 30.8482 8.43475 30.9239 8.61747C30.9996 8.80019 31.0194 9.00126 30.9808 9.19524C30.9422 9.38922 30.847 9.5674 30.7071 9.70726Z" fill="#F8F8F8"/>
                                </svg>
  
                          </div>
                        
                      </a>
                    </li>
                    {% endif %}
                    {% if section.settings.Social1 != '' %}
                    <li>
                      <a href="{{section.settings.Social1}}">
                          <div class="footer-singel-svg">
                              
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="22" viewBox="0 0 28 22" fill="none">
                              <path d="M27.2913 3.7248C27.1727 3.26487 26.9465 2.83972 26.6312 2.48445C26.316 2.12918 25.9208 1.85397 25.4782 1.68153C21.1945 0.03541 14.3724 0.0491424 14 0.0510949C13.6278 0.0481049 6.8056 0.035345 2.52185 1.68153C2.0793 1.85396 1.68409 2.12915 1.36884 2.4844C1.05359 2.83965 0.827337 3.26477 0.70874 3.72468C0.385375 4.96601 0 7.23585 0 11.0001C0 14.7644 0.385375 17.0342 0.708679 18.2755C0.827254 18.7354 1.0535 19.1605 1.36875 19.5158C1.68401 19.8711 2.07922 20.1463 2.52179 20.3187C6.62256 21.8946 13.0495 21.9494 13.9177 21.9494C13.9952 21.9495 14.0048 21.9495 14.0823 21.9494C14.9512 21.9494 21.3776 21.8945 25.4782 20.3187C25.9207 20.1463 26.3159 19.8711 26.6312 19.5159C26.9464 19.1606 27.1727 18.7355 27.2913 18.2756C27.6146 17.0343 28 14.7644 28 11.0001C28 7.23591 27.6146 4.96607 27.2913 3.7248ZM18.2773 11.4161L12.2773 15.4161C12.202 15.4664 12.1145 15.4952 12.0241 15.4996C11.9337 15.5039 11.8438 15.4837 11.7641 15.441C11.6843 15.3983 11.6176 15.3347 11.571 15.2571C11.5245 15.1794 11.5 15.0906 11.5 15.0001V7.00013C11.5 6.90963 11.5245 6.82082 11.571 6.74318C11.6176 6.66553 11.6843 6.60197 11.7641 6.55927C11.8438 6.51656 11.9337 6.49632 12.0241 6.50069C12.1145 6.50507 12.202 6.5339 12.2773 6.58411L18.2773 10.5841C18.3458 10.6298 18.402 10.6916 18.4408 10.7642C18.4797 10.8368 18.5 10.9178 18.5 11.0001C18.5 11.0824 18.4797 11.1635 18.4408 11.2361C18.402 11.3086 18.3458 11.3705 18.2773 11.4161Z" fill="#F8F8F8"/>
                              </svg>
  
                          </div>
                        
                      </a>
                    </li>
                     {% endif %}
                    {% if section.settings.Social2 != '' %}

                    <li>
                      <a href="{{section.settings.Social2}}">
                          <div class="footer-singel-svg">
                              
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                              <path d="M16 20C18.2091 20 20 18.2091 20 16C20 13.7909 18.2091 12 16 12C13.7909 12 12 13.7909 12 16C12 18.2091 13.7909 20 16 20Z" fill="#F8F8F8"/>
                              <path d="M21.5 3.5H10.5C8.64413 3.5021 6.86487 4.24027 5.55257 5.55257C4.24027 6.86487 3.5021 8.64413 3.5 10.5V21.5C3.5021 23.3559 4.24027 25.1351 5.55257 26.4474C6.86487 27.7597 8.64413 28.4979 10.5 28.5H21.5C23.3559 28.4979 25.1351 27.7597 26.4474 26.4474C27.7597 25.1351 28.4979 23.3559 28.5 21.5V10.5C28.4979 8.64413 27.7597 6.86487 26.4474 5.55257C25.1351 4.24027 23.3559 3.5021 21.5 3.5ZM16 22C14.8133 22 13.6533 21.6481 12.6666 20.9888C11.6799 20.3295 10.9108 19.3925 10.4567 18.2961C10.0026 17.1997 9.88378 15.9933 10.1153 14.8295C10.3468 13.6656 10.9182 12.5965 11.7574 11.7574C12.5965 10.9182 13.6656 10.3468 14.8295 10.1153C15.9933 9.88378 17.1997 10.0026 18.2961 10.4567C19.3925 10.9108 20.3295 11.6799 20.9888 12.6666C21.6481 13.6533 22 14.8133 22 16C21.9982 17.5907 21.3655 19.1158 20.2407 20.2407C19.1158 21.3655 17.5907 21.9982 16 22ZM22.5 11C22.2033 11 21.9133 10.912 21.6666 10.7472C21.42 10.5824 21.2277 10.3481 21.1142 10.074C21.0007 9.79994 20.9709 9.49834 21.0288 9.20736C21.0867 8.91639 21.2296 8.64912 21.4393 8.43934C21.6491 8.22956 21.9164 8.0867 22.2074 8.02882C22.4983 7.97094 22.7999 8.00065 23.074 8.11418C23.3481 8.22771 23.5824 8.41997 23.7472 8.66665C23.912 8.91332 24 9.20333 24 9.5C24 9.89782 23.842 10.2794 23.5607 10.5607C23.2794 10.842 22.8978 11 22.5 11Z" fill="#F8F8F8"/>
                              </svg>
  
                          </div>
                        
                      </a>
                    </li>
                     {% endif %}

                  </ul>
                </div>
              </div>
          </div>
          <div class="col-md-5 offset-md-3">
            <div class="footer-right-menu ">
                <div class="row">
                 <div class="col-6 col-sm-6 offset-lg-1">
                  <div class="sinel-menu-item">
                    <h6>{{ section.settings.menu1 }}</h6>
                 
                    <ul class="singel-menu-item">
                      
                      {% assign footer_menu_4 = section.settings.sub4 %}
                      {% for link in linklists[footer_menu_4].links %}
                      <li><a href="{{link.url}}">{{ link.title}}</a></li>
                      {% endfor %}
                    </ul>
                </div>
                </div>
                <div class="col-6 col-sm-6 col-lg-5 col-md-6">
                
    
                  <div class="sinel-menu-item">
                    <h6>{{ section.settings.menu2 }}</h6>
                
                    <ul class="singel-menu-item">
                      {% assign footer_menu_4 = section.settings.sub5 %}
                      {% for link in linklists[footer_menu_4].links %}
                      <li><a href="{{link.url}}">{{ link.title}}</a></li>
                      {% endfor %}
                    </ul>
                  
                </div>
                </div>
                </div>
          </div> 
              {% comment %} {% endcomment %}


          </div>
        </div>
      </div>
    </div>
    <div class="footer-copy-right">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="text-center f-copy-text">
              <p>{{ section.settings.copy  }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  {% schema %}
    {
        "name": "Footer",
        "class": "footer",
        "settings": [
            {
                "type": "image_picker",
                "id": "img",
                "label": "Select Your Footer logo"
            },
            {
                "type": "image_picker",
                "id": "img2",
                "label": "Select footer shap"
            },
            {
                "type": "image_picker",
                "id": "img3",
                "label": "Select footer shap for proudct page"
            },

            {
                "type": "url",
                "id": "Social2",
                "label": "Instagram Url",
                "info": "Please Select Instagram link"
            },
            {
                "type": "text",
                "id": "menu1",
                "label": "Footer Menu 1",
                "default": "QUICK LINK",
                "placeholder": "QUICK LINK"
            },
            {
                "type": "link_list",
                "id": "sub4",
                "label": "Select Footer Menu 1",
                "info": "Footer menu"
            },
            {
                "type": "text",
                "id": "menu2",
                "label": "Footer Menu 1",
                "default": "QUICK LINK",
                "placeholder": "QUICK LINK"
            },
            {
                "type": "link_list",
                "id": "sub5",
                "label": "Select Footer Menu 1",
                "info": "Footer menu"
            },
            {
                "type": "text",
                "id": "copy",
                "label": "Copy Right Text",
                "default": "© 2022 WE ARE CHIMMI",
                "info": "© 2022 WE ARE CHIMMI",
                "placeholder": "© 2022 WE ARE CHIMMI"
            }
        ]
    }
  {% endschema %}
  