<div class="common-product-wrapper t-shirt">
    <div class="container-fluid container-lg container-xl">
       <!-- headign with way  -->
      <div class="row ">
          <div class="col-lg-4  col-md-3 p-0 col-sm-2 col-2 d-flex align-items-center">
              <div class="left-wave-wrapper  common-margin-common">
                <svg xmlns="http://www.w3.org/2000/svg" width="271" height="22" viewBox="0 0 271 22" fill="none">
                  <path d="M2 2C15.3547 2 15.3547 20 28.7094 20C42.0641 20 42.0641 2 55.4188 2C68.7735 2 68.7735 20 82.0969 20C95.452 20 95.452 2 108.775 2C122.13 2 122.13 20 135.453 20C148.808 20 148.808 2 162.162 2C175.517 2 175.517 20 188.872 20C202.226 20 202.226 2 215.581 2C228.936 2 228.936 20 242.291 20C255.645 20 255.645 2 269 2" stroke="#B5B35C" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round"/>
                  </svg>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-8 col-8">
            <div class="section-title text-center">


              <!-- section -title  -->
               <h2>{{ section.settings.h2 }}</h2>
            </div>
          </div>

          <!-- both are the same wave  -->
          <div class="col-lg-4  col-md-3 col-sm-2 col-2  d-flex align-items-center justify-content-end p-0">
            <div class="right-wave-rapper common-margin-common">
              <svg xmlns="http://www.w3.org/2000/svg" width="271" height="22" viewBox="0 0 271 22" fill="none">
                <path d="M2 2C15.3547 2 15.3547 20 28.7094 20C42.0641 20 42.0641 2 55.4188 2C68.7735 2 68.7735 20 82.0969 20C95.452 20 95.452 2 108.775 2C122.13 2 122.13 20 135.453 20C148.808 20 148.808 2 162.162 2C175.517 2 175.517 20 188.872 20C202.226 20 202.226 2 215.581 2C228.936 2 228.936 20 242.291 20C255.645 20 255.645 2 269 2" stroke="#B5B35C" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round"/>
                </svg>
            </div>
          </div>
      </div>
<!-- headign wit hway  -->

    </div>

    <!-- slider splide__track  -->
    {% assign collection = collections[section.settings.product] %}
    <div class="container-fluid p-0">
      <section class="splide" id="first-slider1" aria-label="Splide Basic HTML Example" data-splide='{"type":"loop","perPage":3}'>
       
        <div class="splide__track">
          <ul class="splide__list">

 
            {% for product in collection.products limit: section.settings.p_limit %}
            <li class="splide__slide">


              <!-- extrag t-shirt margin here "extra-b-margin"  -->
      
              <div class="singel-product-svg-wrapper  extra-b-margin">
                <a href="{{product.url}}">

                  <div class="svg-icon-here t-s-svg-one t-shirt-mobile ">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0 0 424 593" fill="none">
                      <rect x="0.5" y="0.5" width="423" height="592" rx="89.5" fill="url(#pattern0)" stroke="black"/>
                      <defs>
                      <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
                      <use xlink:href="#image0_118_129" transform="translate(0 -0.000505902) scale(0.00147059 0.00105148)"/>
                      </pattern>
                      <image id="image0_118_129" width="680" loading="lazy" height="952" xlink:href="{{ product.featured_image.src | img_url: '' }}"/>
                      </defs>
                      </svg>
                    <div class="prudct-shado-svg t-shirt-mobile ">
                      <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 424 593" fill="none">
                        <rect x="0.5" y="0.5" width="423" height="592" rx="89.5" fill="#D77628" stroke="black"/>
                        </svg>
                    </div>
                  </div>


                </a>
                <div class="prouct-details t-shirt-content">
                    <h2>{{ product.title}}</h2>
                    <p>{{ product.price | money }}</p>
                </div>
              </div>
      
      
            </li>
        {% endfor %}
          
            
          </ul>
        </div>
        <div class="splide__arrows splide__arrows--ltr d-flex align-items-center justify-content-center ">
          <button
            class="splide__arrow custome-arrow splide__arrow--prev"
            type="button"
            aria-label="Previous slide"
            aria-controls="splide01-track"
          >
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="16" viewBox="0 0 26 16" fill="none">
            <path d="M1.75 7C1.19771 7 0.749999 7.44772 0.749999 8C0.749999 8.55228 1.19771 9 1.75 9V7ZM24.25 9C24.8023 9 25.25 8.55228 25.25 8C25.25 7.44772 24.8023 7 24.25 7V9ZM1.75 9L24.25 9V7L1.75 7V9Z" fill="black"/>
            <path d="M16.8858 0.785901C16.6295 0.296697 16.0251 0.107902 15.5359 0.364216C15.0467 0.620531 14.8579 1.22489 15.1142 1.7141L16.8858 0.785901ZM23.8735 8.92642C24.3852 9.13435 24.9685 8.88814 25.1764 8.3765C25.3844 7.86485 25.1381 7.28151 24.6265 7.07358L23.8735 8.92642ZM15.1142 1.7141C16.0805 3.55832 17.0996 4.9108 18.5055 6.0391C19.892 7.15172 21.6029 8.00364 23.8735 8.92642L24.6265 7.07358C22.405 6.17078 20.9122 5.40607 19.7573 4.47926C18.622 3.56815 17.7621 2.45841 16.8858 0.785901L15.1142 1.7141Z" fill="black"/>
            <path d="M16.8858 15.2141C16.6295 15.7033 16.0251 15.8921 15.5359 15.6358C15.0467 15.3795 14.8579 14.7751 15.1142 14.2859L16.8858 15.2141ZM23.8735 7.07358C24.3852 6.86565 24.9685 7.11186 25.1764 7.6235C25.3844 8.13515 25.1381 8.71849 24.6265 8.92642L23.8735 7.07358ZM15.1142 14.2859C16.0805 12.4417 17.0996 11.0892 18.5055 9.9609C19.892 8.84828 21.6029 7.99636 23.8735 7.07358L24.6265 8.92642C22.405 9.82922 20.9122 10.5939 19.7573 11.5207C18.622 12.4319 17.7621 13.5416 16.8858 15.2141L15.1142 14.2859Z" fill="black"/>
            </svg>
          </button>
          <button
            class="splide__arrow custome-arrow splide__arrow--next  active"
            type="button"
            aria-label="Next slide"
            aria-controls="splide01-track"
          >
           <svg xmlns="http://www.w3.org/2000/svg" width="26" height="16" viewBox="0 0 26 16" fill="none">
              <path d="M1.75 7C1.19771 7 0.749999 7.44772 0.749999 8C0.749999 8.55228 1.19771 9 1.75 9V7ZM24.25 9C24.8023 9 25.25 8.55228 25.25 8C25.25 7.44772 24.8023 7 24.25 7V9ZM1.75 9L24.25 9V7L1.75 7V9Z" fill="black"/>
              <path d="M16.8858 0.785901C16.6295 0.296697 16.0251 0.107902 15.5359 0.364216C15.0467 0.620531 14.8579 1.22489 15.1142 1.7141L16.8858 0.785901ZM23.8735 8.92642C24.3852 9.13435 24.9685 8.88814 25.1764 8.3765C25.3844 7.86485 25.1381 7.28151 24.6265 7.07358L23.8735 8.92642ZM15.1142 1.7141C16.0805 3.55832 17.0996 4.9108 18.5055 6.0391C19.892 7.15172 21.6029 8.00364 23.8735 8.92642L24.6265 7.07358C22.405 6.17078 20.9122 5.40607 19.7573 4.47926C18.622 3.56815 17.7621 2.45841 16.8858 0.785901L15.1142 1.7141Z" fill="black"/>
              <path d="M16.8858 15.2141C16.6295 15.7033 16.0251 15.8921 15.5359 15.6358C15.0467 15.3795 14.8579 14.7751 15.1142 14.2859L16.8858 15.2141ZM23.8735 7.07358C24.3852 6.86565 24.9685 7.11186 25.1764 7.6235C25.3844 8.13515 25.1381 8.71849 24.6265 8.92642L23.8735 7.07358ZM15.1142 14.2859C16.0805 12.4417 17.0996 11.0892 18.5055 9.9609C19.892 8.84828 21.6029 7.99636 23.8735 7.07358L24.6265 8.92642C22.405 9.82922 20.9122 10.5939 19.7573 11.5207C18.622 12.4319 17.7621 13.5416 16.8858 15.2141L15.1142 14.2859Z" fill="black"/>
              </svg>
          </button>
        </div>
      </section>
      
    </div>
    <!-- slider splide__track  -->

  </div>





  {% schema %}
  {
      "name": "T-SHIRTS",
      "class": "new",
      "settings": [
         {
          "type": "text",
          "id": "h2",
          "label": "T-SHIRTS Product Collection",
          "default": "T-SHIRTS",
          
          "placeholder": "T-SHIRTS"
         },
         {
          "type": "collection",
          "id": "product",
          "label": "Seclect your Product Collection",
          "info": "Men's collection"
         }
      ],"presets": [
          {
            "name": "T-SHIRTS"
          }]

  }
{% endschema %}


<script>
  document.addEventListener( 'DOMContentLoaded', function () {
    new Splide("#first-slider1",{
  
        pagination : false,
        drag   : 'free',
        cover      : true,
        gap       : 20,
        snap :true,
        perMove :1,
        focus  : 'left',
        interval: 4000,
        autoScroll: {
          speed: 1,
        },
        breakpoints : {
    
          '200': {
            perPage: 1,
            autoScroll: {
              speed: 0,
            },
          },
          '600': {
            perPage: 1,
            autoScroll: {
              speed: 0,
            },
          },
          '960': {
            perPage: 2,
            autoScroll: {
              speed: 0,
            },
          },
          '1020': {
            perPage: 2,
            autoScroll: {
              speed: 0,
            },
          },
          '1333': {
            perPage: 3,
        
            autoScroll: {
              speed: 0.09,
            },
          },
          '1500': {
            perPage: 3,
            autoScroll: {
              speed: 0.09,
            },
          },
          '1920': {
            perPage: 3,
           
          }
      },
      }).mount(window.splide.Extensions);
    
     });
     
   </script>